@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

#image-side {
    display: flex;
    flex-direction: column;
    flex: 2 1 40%;
    max-width: 70vh;
    height: 100%;
    background: url(building-background.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-top: 70%;
    text-align: center;
    font-size: 3rem;
    background-color: #1C1C1CAA;
    color: aliceblue;
    font-family: "Zen Dots";
    position: relative
}

#logo-image {
    height: 15vh;
}

#credit {
    margin-top: auto;
    height: 1rem;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

a {
    color: aliceblue;
}

#form-side {
    display: flex;
    flex-direction: column;
    flex: 3 0 60%;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.header {
    font-size: 2rem;
    width: 90%;
}

form {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #A4A4A4;
    box-shadow: 10px 5px 5px #1C1C1C ;
}

#input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.input-item {
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

label {
    color: #1C1C1C;
    font-family: 'Courier New', Courier, monospace;
}

input {
    border: 3px solid grey;
    border-radius: 4px;
    height: 2rem;
    font-size: 1rem;
    transition: box-shadow .3s ease-out;
    box-shadow: 0px 0px;
}

input:focus {
    border: 3px solid #259388;
    box-shadow: 3px 5px 3px #1C1C1C;
}

input:invalid {
    border-color: red;
}

button {
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 5%;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #237976;
    font-weight: 1000;
    font-size: 1rem;
    text-align: center;
    color: aliceblue;
    border: none;
    transition: background-color .1s ease-out;
}

button:hover {
    cursor: pointer;
    background-color: #003D3C;
}